[Unit]
Description=Temperature dashboard server
After=network.target

[Serivce]
EnvironmentFile=/root/.env
Type=simple
Restart=always
ExecStart=/usr/local/bin/temp_from_influxdb